*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#550101, #050505);
}
.container{
    position: relative;
    height: 430px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rba(255 255 255 0.05);
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,transparent, #0005);
}
.heart{
    position: absolute;
    width: 300px;
    height: 300px;
}
.heart::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 300px;
    top: -100px;
    left: 25px;
    background: #d43358;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    rotate: 315deg;
    z-index: 1000;
    animation: animateheart 2s steps(1) infinite;
}
.heart::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 300px;
    top: -100px;
    left: 95px;
    background: #d43358;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    rotate: 45deg;
    z-index: 1000;
    animation: animateHeart 2s steps(1) infinite;
}
@keyframes animateHeart {
    0%,94%,100%
    {
        filter: none;
    }
    95%{
        filter: drop-shadow(0, 0 50px, rgb(196, 53, 53) drop-shadow(0, 0 150px, rgb(196, 53, 53)));
        background: rgb(233, 86, 86);
    }
}